td{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px}
input{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px}
textarea{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:11px;overflow:auto;width:99%}
.hu{font-family:Verdana,Arial,Helvetica,sans-serif;font-size:10px;color:#999999;background-color:#eeeeee;padding-top:4px}
.tbl{position:relative;height:100%}
.sm{font-size:10px}
.a{background-color:#eeeeee;color:#000000}
.b{background-color:#dddddd;color:#000000}
.f{color:#ffffff;font-size:10px;padding:0px}
.g{font-size:6px;font-family:"Courier New",Courier,monotype;padding:0px;text-align:center;width:5%;height:8px}
.j{text-decoration:none}